{% extends 'base.html.twig' %}
{% block title %}Fiche Espèce{% endblock %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/consultation.css') }}">
{% endblock %}

{% block navi3 %}
    <li class="active"><a href="{{ path('results') }}">Consultation<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="consultation_bg">
        <div class="col-md-12">
            <h1 class="text-center">Consulter les données</h1>
            <div class="colonne_infos col-md-offset-3 col-md-6 col-xs-12" id="bg_infos_consult">
                <div class="col-md-12">
                    <div class="col-xs-12">
                        <h3 class="text-center">Fiche Espèce :</h3><br/>
                        <div class="englob_fiche text-center">
                            <p class="col-xs-12 col-sm-6 col-md-5 label_oiseau">Règne de l'oiseau :</p>
                            <p class="col-xs-12 col-sm-6 col-md-7"> {{ birdChoisi.regne }}</p>
                        </div>
                        <div class="englob_fiche text-center">
                            <p class="col-xs-12 col-sm-6 col-md-5 label_oiseau">Phylum de l'oiseau :</p>
                            <p class="col-xs-12 col-sm-6 col-md-7"> {{ birdChoisi.phylum }}</p>
                        </div>
                        <div class="englob_fiche text-center">
                            <p class="col-xs-12 col-sm-6 col-md-5 label_oiseau">Classe de l'oiseau :</p>
                            <p class="col-xs-12 col-sm-6 col-md-7"> {{ birdChoisi.classe }}</p>
                        </div>
                        <div class="englob_fiche text-center">
                            <p class="col-xs-12 col-sm-6 col-md-5 label_oiseau">Ordre de l'oiseau :</p>
                            <p class="col-xs-12 col-sm-6 col-md-7"> {{ birdChoisi.ordre }}</p>
                        </div>
                        <div class="englob_fiche text-center">
                            <p class="col-xs-12 col-sm-6 col-md-5 label_oiseau">Famille de l'oiseau :</p>
                            <p class="col-xs-12 col-sm-6 col-md-7"> {{ birdChoisi.famille }}</p>
                        </div>
                        <div class="englob_fiche text-center">
                            <p class="col-xs-12 col-sm-6 col-md-5 label_oiseau">Nom Valide de l'oiseau :</p>
                            <p class="col-xs-12 col-sm-6 col-md-7"> {{ birdChoisi.nomValide }}</p>
                        </div>
                        {% if birdChoisi.nomVern is not empty %}
                            <div class="englob_fiche text-center">
                                <p class="col-xs-12 col-sm-6 col-md-5 label_oiseau">Nom vernaculaire de l'oiseau :</p>
                                <p class="col-xs-12 col-sm-6 col-md-7"> {{ birdChoisi.nomVern }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-xs-12">
                        <h3 class="text-center bg_colvert">En savoir plus sur l'espèce :</h3><br/>
                        <p class="text-center text_bird_links">Si vous souhaitez en apprendre plus sur cette espèce, nous mettons à
                            votre
                            disposition ci-dessous, les liens vers les fiches de l'Inventaire National du Patrimoine
                            Naturel
                            (INPN) et de Wikipédia.</p><br>
                        <div class="englob_fiche text-center">
                            <p class="col-xs-12 col-sm-6 col-md-5 label_oiseau"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> INPN :</p>
                            <p class="col-xs-12 col-sm-6 col-md-7 bird_links"><a
                                        href="https://inpn.mnhn.fr/espece/cd_nom/{{ birdChoisi.cdNom }}" target="_blank">
                                    {% if birdChoisi.nomVern is not empty %} {{ birdChoisi.nomVern }} {% else %} {{ birdChoisi.lbNom }}
                                    {% endif %}</a></p>
                        </div>
                        {% if birdChoisi.urlWiki is not empty %}
                            <div class="englob_fiche text-center">
                                <p class="col-xs-12 col-sm-6 col-md-5 label_oiseau"><i class="fa fa-wikipedia-w" aria-hidden="true"></i> Wikipédia :</p>
                                <p class="col-xs-12 col-sm-6 col-md-7 bird_links"><a href="{{ birdChoisi.urlWiki }}" target="_blank">
                                        {% if birdChoisi.nomVern is not empty %}{{ birdChoisi.nomVern }} {% else %}
                                            {{ birdChoisi.lbNom }} {% endif %}</a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
