{% extends 'base.html.twig' %}
{% block title %}Liste des résultats{% endblock %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/consultation.css') }}">
{% endblock %}

{% block navi3 %}
    <li class="active"><a href="{{ path('results') }}">Consultation<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="consultation_bg">
        <br>
        <div class="col-md-12">
            <h1 class="text-center">Consulter les données</h1>
            <div class="colonne_recherches col-md-6 col-xs-12">
                <div class="col-md-12">
                    <div>
                        <h3 class="text-center">Observations sur l'oiseau :{% if birdChoisi %}
                                {{ birdChoisi.nomValide }}{% endif %}</h3><br/>
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th>Observation</th>
                                    <th>Date d'observation</th>
                                </tr>
                                </thead>
                                {% for observation in observationsBird|slice(0, 10) %}
                                    <tr>
                                        <td class="col-sm-8"><a class="articleTitle"
                                                                href="{{ path('fiche_bird_obs',
                                                                {'id': observation.bird.id, 'idObs': observation.id}) }}">{{ observation.comment | truncate(125) }}</td>
                                        <td class="col-sm-4 text-center">{{ observation.date | date("d/m/Y") }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn_more" href="{{ path('results') }}">Changer d'oiseau</a>
                    </div>
                </div>
            </div>
            <div class="colonne_carte col-md-6 col-xs-12">
                <div id="map" class="col-md-12"></div>
                <div class="col-md-12 text-center bg_legend">
                    Les carrés colorés représentent les zones dans lesquelles l'espèce a été observée.<br>
                    Plus la couleur du carré est foncée plus un grand nombre d'individus y a été vu.<br>
                </div>
            </div>
            <script type="text/javascript">
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: 46.227588, lng: 2.214329},
                        zoom: 6,
                        mapTypeId: 'terrain'
                    });
                    map.data.loadGeoJson('{{ path('bird', {'id':birdChoisi.id}) }}');
                    map.data.setStyle({
                        fillColor: '#FE9A04',
                        fillOpacity: 0.5,
                        strokeWeight: 0
                    });
                    map.data.addListener('mouseover', function (event) {
                        map.data.revertStyle();
                        map.data.overrideStyle(event.feature, {strokeWeight: 1, strokeOpacity: 0.5});
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHtk1Q7isnHjGK7ApFU2_V5--RdvqVUks&callback=initMap">
            </script>
        </div>
    </div>

{% endblock %}
