{% extends 'base.html.twig' %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/consultation.css') }}">
{% endblock %}

{% block navi3 %}
    <li class="active"><a href="{{ path('results') }}">Consultation<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="consultation_bg">
        <br>
        <div>
            <div class="row">
                <div class="col-sm-5"><h1>Consulter les données</h1>
                    <p>contenu recherche</p>
                    {% if form is defined %}
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.bird, {'label': 'Nom de l\'espèce :'}) }}
                            </div>
                        </div>
                        <div class="row" id="btn_valid">
                            <div>
                                <button class="btn btn_form" type="submit">Envoyer</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    {% endif %}
                    {% if results is defined %}
                        <a class="btn btn-form" href="{{ path('results') }}">Effectuer une nouvelle consultation</a>
                    {% endif %}
                </div>

                <div id="map" class="col-sm-7"></div>
            </div>

            <script type="text/javascript">

                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: 46.227588, lng: 2.214329},
                        zoom: 6,
                        mapTypeId: 'terrain'
                    });
                    {% if results is defined %}
                    map.data.loadGeoJson('{{ path('bird', {'id':results.bird}) }}');

                    map.data.setStyle({
                        fillColor: 'green',
                        strokeWeight: 1,
                        clickable: true
                    });
                    {% endif %}
                }


            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHtk1Q7isnHjGK7ApFU2_V5--RdvqVUks&callback=initMap">
            </script>
        </div>
    </div>
{% endblock %}