{% extends 'base.html.twig' %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/consultation.css') }}">
{% endblock %}

{% block navi3 %}
    <li class="active"><a href="{{ path('results') }}">Consultation<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="consultation_bg">
        <br>
        <div>
            <div class="row">
                <h1 class="text-center">Consulter les données</h1>
                <div class="col-sm-6 pull-left">
                    <div class="col-md-10 col-md-offset-1">
                        <p>contenu recherche</p>
                        {% if form is defined %}
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.bird, {'label': 'Nom de l\'espèce :'}) }}
                            </div>
                        </div>
                        <div class="row" id="btn_valid">
                            <div>
                                <button class="btn btn_form" type="submit">Envoyer</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                        {% endif %}
                        {% if birdChoisi is defined %}
                            <a class="btn btn-form" href="{{ path('results') }}">Effectuer une nouvelle consultation</a>
                        {% endif %}
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div>
                            <h3 class="text-center">Information sur l'oiseau :</h3><br/>
                            {% if birdChoisi is defined %}
                                <p>Regne de l'oiseau : {{ birdChoisi.regne }}</p>
                                <p>Phylum de l'oiseau : {{ birdChoisi.phylum }}</p>
                                <p>Classe de l'oiseau : {{ birdChoisi.classe }}</p>
                                <p>Ordre de l'oiseau : {{ birdChoisi.ordre }}</p>
                                <p>Famille de l'oiseau : {{ birdChoisi.famille }}</p>
                                <p>Nom Complet de l'oiseau : {{ birdChoisi.nomComplet }}</p>
                                <p>Nom Valide de l'oiseau : {{ birdChoisi.nomValide }}</p>
                                <p>Nom Vern de l'oiseau : {{ birdChoisi.nomVern }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pull-left">
                    <div class="col-md-10 col-md-offset-1">
                        <div id="map" class="col-sm-6 pull-right"></div>
                        <div id="info-box" data-toggle="tooltip" data-placement="top"> </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: 46.227588, lng: 2.214329},
                        zoom: 6,
                        mapTypeId: 'terrain'
                    });
                    {% if birdChoisi is defined %}
                    map.data.loadGeoJson('{{ path('bird', {'id':birdChoisi.id}) }}');

                    map.data.setStyle({
                        fillColor: '#FE9A04',
                        fillOpacity: 0.5,
                        strokeWeight: 0
                    });

                    map.data.addListener('mouseover', function(event) {
                        map.data.revertStyle();
                        map.data.overrideStyle(event.feature, {strokeWeight: 2, strokeOpacity: 0.5});
                    });

                    map.data.addListener('mouseover', function(event) {
                        document.getElementById('info-box').textContent =
                            event.feature.getProperty('name');
                    });
                    {% endif %}
                }


            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHtk1Q7isnHjGK7ApFU2_V5--RdvqVUks&callback=initMap">
            </script>

        </div>
    </div>
{% endblock %}
{% block JS %}
    <script src="{{ asset('js/tooltip.js') }}"></script>
{% endblock %}