{% extends 'base.html.twig' %}

{% block navi2 %}
    <li class="active"><a href="{{ path('observation') }}">Observation<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="observation_bg">
        {#<div class="container-fluid test">#}
        <div class="col-md-6 col-md-offset-6" id="opal_bg">
            <div class="part-right">
                <h1 class="sous-titre">Saisir une nouvelle observation:</h1>
                <p class="accroche">Vous avez eu l'opportunité d'observer un oiseau lors de vos promenades ou même dans
                    votre jardin? Vous pouvez nous aider à réaliser à un inventaire des espèces de nos régions.<br/>
                    Complétez ce formulaire pour nous envoyer une observation.
                </p>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.bird, {'label': 'Nom de l\'espèce :'}) }}
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-12">Coordonnées d'observation:</label>
                    {% if errorMessage is not empty %}
                        <div class="alert alert-warning">
                            {{ errorMessage }}
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        {{ form_row(form.lat, {'label': 'Lattitude :'}) }}
                    </div>
                    <div class="col-md-6 col-xs-6">
                        {{ form_row(form.long, {'label': 'Longitude :'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        {{ form_row(form.observationDate, {'label': 'Date de l\'observation :'}) }}
                    </div>
                    <div class="col-md-6 col-xs-6">
                        {{ form_row(form.image, {'label': 'Joindre une image (Max: 2M) :'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.observationComment, {'label': 'Observations :'}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-xs-offset-5">
                        <button class="btn" id="btn-form" type="submit">Envoyer</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}