{% extends 'base.html.twig' %}
{% block title %}Observation{% endblock %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/observation.css') }}">
{% endblock %}

{% block navi2 %}
    <li class="active"><a href="{{ path('observation') }}">Observation<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block body %}
    <div class="container-fluid" id="observation_bg">
        <div class="col-md-offset-6 col-md-6" id="opal_bg">
            <div class="part-right">
                <div>
                    <div class="col-md-12">
                        <h1 class="sous-titre">Saisir une nouvelle observation:</h1>
                        <p class="accroche">Vous avez eu l'opportunité d'observer un oiseau lors de vos promenades ou
                            même dans
                            votre jardin? Vous pouvez nous aider à réaliser à un inventaire des espèces de nos
                            régions.<br/>
                            Complétez ce formulaire pour nous envoyer une observation.
                        </p>
                    </div>
                </div>
                {{ form_start(form) }}
                <div>
                    <div class="col-md-12 saisie">
                        {{ form_label(form.birdName, 'Nom de l\'espèce :') }}
                        {{ form_widget(form.birdName, {'attr': {'placeholder': 'Saisissez le nom de l\'espèce observée (3 caractères minimum)'}}) }}
                        {{ form_row(form.birdId) }}
                    </div>
                </div>
                <div>
                    <label class="col-md-12 saisie">Coordonnées d'observation:</label>
                    {{ form_errors(form.lat) }}
                    {{ form_errors(form.long) }}
                </div>
                <div>
                    <div class="col-md-6 col-xs-6 saisie">
                        {{ form_label(form.lat, 'Latitude') }}
                        {{ form_widget(form.lat, {'attr': {'placeholder': '46.123456'}}) }}
                    </div>
                    <div class="col-md-6 col-xs-6 saisie">
                        {{ form_label(form.long, 'Longitude') }}
                        {{ form_widget(form.long, {'attr': {'placeholder': '6.123456'}}) }}
                    </div>
                </div>
                <div>
                    <div class="col-md-6 col-xs-12 saisie">
                        {{ form_row(form.date, {'label': 'Date de l\'observation :'}) }}
                    </div>
                    <div class="col-md-6 col-xs-6 saisie">
                        {{ form_row(form.image, {'label': 'Joindre une image (Max: 2M) :'}) }}
                    </div>
                </div>
                <div>
                    <div class="col-md-12 saisie">
                        {{ form_label(form.comment, 'Observations :') }}
                        {{ form_widget(form.comment,{'attr': {'placeholder':'Décrivez le contexte dans lequel vous avez pu observer cet oiseau.'}}) }}
                    </div>
                </div>
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="col-md-12 text-center">{{ flash_message }}</div>
                    </div>
                {% endfor %}
                <br>
                <div class="col-md-12 saisie" id="btn_valid">
                    <br>
                    <div class="text-center">
                        <button class="btn btn_form" type="submit">Envoyer</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block JS %}
    <script src="{{ asset('js/autoCompBirdChoice.js') }}"></script>
    <script src="{{ asset('js/jquery.ui.datepicker-fr.js') }}"></script>
    <script src="{{ asset('js/account.js') }}"></script>
{% endblock %}