<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="UTF-8"/>
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="description" content="L'association Nos Amis les Oiseaux vous propose de devenir acteur de la biodiversité
     et de la protection des oiseaux en partageant vos observations."/>
    <meta name="keywords" content="Protéger les espèces, Protéger les oiseaux, Protéger l’environnement,
     Protéger la nature, Protéger la biodiversité, Préserver les espèces, Préserver les oiseaux, Préserver l’environnement,
     Préserver la nature, Préserver la biodiversité, Défendre les espèces, Défendre les oiseaux, Défendre l’environnement,
     Défendre la nature, Défendre la biodiversité, Observer les oiseaux, Observer les oiseaux en France, Reconnaitre les oiseaux,
     Identifier les Oiseaux, Oiseaux en France, Guide ornithologie, Guide sur les oiseaux, Ornithologie pour tous,
     Devenir acteur de la biodiversité" />
    <title>Nos Amis les Oiseaux - Protection des oiseaux et préservation de la biodiversité -
        {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{ asset('/css/font-awesome-4.7.0/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/naostyle.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Mitr:300,400" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% block stylesheet_enfant %} {% endblock %}
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/favicon-NAO.png') }}"/>
</head>
<body class="container-fluid">
<header class="row" id="nao_header">
    <div id="top_button_bar_xs" class="col-md-12">
        <a class="btn btn-sm faceb" title="NAO Link"
           href="https://www.facebook.com/lapagedenosamislesoiseaux/" target="_blank"><i
                    class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="btn btn-sm join" href="{{ path('donate_join') }}" role="button">Adhérer</a>
        <a class="btn btn-sm donate" href="{{ path('donate_join') }}#donate" role="button">Faire un don</a>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nao-navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand img-responsive">
                    <a href="{{ path('home_page') }}"><img id="logo_nao" alt="logo_nos_amis_les_oiseaux"
                                                           src="{{ asset('images/LogoNAO.png') }}"></a>
                </div>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="nao-navbar">
                <div id="top_button_bar" class="col-md-4 pull-right">
                    <a class="btn btn-sm donate pull-right" href="{{ path('donate_join') }}#donate" role="button">Faire
                        un
                        don</a>
                    <a class="btn btn-sm join pull-right" href="{{ path('donate_join') }}"
                       role="button">Adhérer</a>
                    <a class="btn pull-right btn-sm faceb" href="https://www.facebook.com/lapagedenosamislesoiseaux/">
                        <i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% block navi1 %}
                        <li><a href="{{ path('home_page') }}"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a>
                        </li>{% endblock %}
                    {% block navi2 %}
                        <li><a href="{{ path('observation') }}">Observation</a></li>
                    {% endblock %}
                    {% block navi3 %}
                        <li><a href="{{ path('results') }}">Consultation</a></li>
                    {% endblock %}

                    {% block navi4 %}
                        <li><a href="{{ path('blog', {'page': 1}) }}">Blog</a></li>
                    {% endblock %}
                    {% block navi5 %}
                    <li class="dropdown">
                        {% endblock %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {{ app.user.getUsername() }}<span class="caret"></span></a>
                            {% else %}
                                Connexion<span class="caret"></span></a>
                            {% endif %}
                        <ul class="dropdown-menu">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('account') }}" rel="nofollow">Profil</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('admin_user') }}" rel="nofollow">Tableau de bord</a></li>
                                {% endif %}
                                <li><a href="{{ path('logout') }}" rel="nofollow">Se Déconnecter</a></li>
                            {% else %}
                                <li><a href="{{ path('account') }}">Se Connecter</a></li>
                                <li><a href="{{ path('create_account') }}">Créer un compte</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <form class="navbar-form navbar-right" action="{{ path('resultat') }}" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Rechercher" id="recherche_recherche" name="motRecherche" required>
                            </div>
                            <button type="submit" id="btn_search" class="btn"><span class="glyphicon glyphicon-search"
                                                                                    aria-hidden="true"></span></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!-- end navbar -->
</header>

<div class="content-body">
    <section>
        {% block body %}{% endblock %}
    </section>
</div>


<footer class="row footer">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center">
        <ol class="breadcrumb col-md-12">
            <li><a href="{{ path('admin_user') }}" rel="nofollow">Admin</a></li>
            <li><a href="{{ path('legal_notice') }}">Mentions légales</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
            <li><a href="{{ path('donate_join') }}">Adhérer</a></li>
            <li><a href="{{ path('donate_join') }}#donate">Faire un don</a></li>
        </ol>
    </div>
    <div class="col-md-1">
        <a href="http://www.europe-en-france.gouv.fr/" target="_blank"><img src="{{ asset('images/europe.png') }}" alt="europe"
                                                                            id="europe_img"></a>
    </div>
</footer>


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/recherche.js')}}"></script>
    <script src="{{ asset('js/cookiechoices.js') }}"></script>
    <script>document.addEventListener('DOMContentLoaded',
            function(event){cookieChoices.showCookieConsentBar('Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.', 'J’accepte', 'En savoir plus', 'http://nosamislesoiseaux.eg2.fr/legal_notice');});</script>
    <script>
        $(function(){
            $('#recherche_recherche').autocomplete({
                source : function (requete, reponse) { // la fonction anonyme permet de maintenir une requête AJAX directement dans le plugin
                    //un qui représentera la requête tapée dans le champ de texte, et un autre qui représentera la réponse renvoyée par AJAX, et donc ma liste de suggestions.
                    var objData = {};
                    objData = { nomVern: requete.term };
                    console.log(objData);
                    $.ajax({
                        url : "{{ path('ajax') }}", //On appelle le script JSON
                        dataType : 'json', //On spécifie bien que le type de donnée est en JSON
                        data : objData,
                        type: "POST",
                        success : function(data){  // on se prépare à renvoyer les données réceptionnées grâce à l'évènement de succès
                            //console.log(data);
                            reponse($.map(data, function(objet){
                                //var objet[] = objet.title + objet.nomVern;
                                console.log(objet);
                                if(objet.title == null)
                                {
                                    return objet.nomVern;
                                }
                                if(objet.nomVern == null)
                                {
                                    return objet.title;
                                }
                                //return objet.nomVern;// on retourne cette forme de suggestion
                            }))
                        },
                        error: function() { // if error
                            alert('problème');
                        }
                    });
                },
                minLength: 2
            });
        });
    </script>
    {% block JS %} {% endblock %}
{% endblock %}
{% include '/Analytics/AnalyticsTracking.html.twig' %}
</body>
</html>
