<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/naostyle.css') }}">
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/favicon-NAO.png') }}"/>
</head>
<body class="container-fluid">
<header class="row" id="nao_header">
    <div id="top_button_bar_xs" class="col-sm-12">
        <a class="btn btn-success" href="{{ path('join') }}" role="button">Adhérer</a>
        <a class="btn btn-warning" href="{{ path('donate') }}" role="button">Faire un don</a>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nao-navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand img-responsive">
                    <img alt="logo_nos_amis_les_oiseaux"
                         src="{{ asset('images/LogoNAO300x130.png') }}">
                </div>
            </div>
            <div class="collapse navbar-collapse" id="nao-navbar">
                <div id="top_button_bar" class="col-sm-4 pull-right">
                    <a id="btn_donate" class="btn btn-warning pull-right" href="{{ path('donate') }}" role="button">Faire un
                        don</a>
                    <a class="btn btn-success pull-right" href="{{ path('join') }}" role="button">Adhérer</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ path('home_page') }}">Accueil<span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="{{ path('observation') }}">Observation</a></li>
                    <li><a href="{{ path('results') }}">Consultation</a></li>
                    <li>
                        <form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Rechercher">
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                                aria-hidden="true"></span></button>
                        </form>
                    </li>
                    <li><a href="#">Blog</a></li>
                    <li class="dropdown">
                        <a href="{{ path('account') }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Mon Compte<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Se Connecter</a></li>
                            <li><a href="{{ path('create_account') }}">Créer un compte</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <!-- end navbar -->
</header>

{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}

<footer class="row">
    <ol class="breadcrumb  pull-right">
        <li><a href="#">Admin</a></li>
        <li><a href="{{ path('legal_notice') }}">Mentions légales</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        <li><a href="{{ path('join') }}">Adhérer</a></li>
        <li><a href="{{ path('donate') }}">Faire un don</a></li>
    </ol>
</footer>
</body>
</html>
