{% extends 'base.html.twig' %}
{% block title %}Résultats de recherche{% endblock %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/recherche.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid" id="contact_bg">
        <div class="col-md-6 col-md-offset-3 well">
            <h1>Résultats:</h1><br>
            {% if nom.nomVern is defined %}
                <p><strong>Fiche: </strong><a href="{{ path('fiche_bird', {'id': nom.id}) }}">{{ nom.nomVern }}</a>
                </p>
            {% elseif  nom.title is defined %}
                <p><strong>Article: </strong><a href="{{ path('article', {'id': nom.id}) }}">{{ nom.title }}</a></p>
            {% else %}
                {% for resultat in tab %}
                    {% if resultat.nomVern is defined %}
                        <p><strong>Fiche: </strong><a
                                    href="{{ path('fiche_bird', {'id': nom.id}) }}">{{ nom.nomVern }}
                                ">{{ resultat.nomVern }}</a></p>
                    {% else %}
                        <p><strong>Article: </strong><a
                                    href="{{ path('article', {'id': resultat.id}) }}">{{ resultat.title }}</a>
                        </p>{% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}