{% extends 'base.html.twig' %}

{% block navi5 %}
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true"
           aria-expanded="false">Mon Compte<span class="sr-only">(current)</span><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('login') }}">Se Connecter</a></li>
            <li><a href="{{ path('account') }}">Mon Compte</a></li>
            <li><a href="{{ path('create_account') }}">Créer un compte</a></li>
        </ul>
    </li>
{% endblock %}

{% block body %}

    <h1>Se connecter</h1>

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Login :</label>
        <input type="text" id="username" name="_username" />

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />
        <input type="hidden" name="_target_path" value="account" />
        <br />
        <input type="submit" value="Connexion" />
    </form>

{% endblock %}