{% extends 'base.html.twig' %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block navi5 %}
<li class="dropdown active">
    {% endblock %}

    {% block body %}
    <div class="container-fluid" id="login_bg">

        {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
                <div class="alert-{{ type }} text-center">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="col-md-6 col-md-offset-3 col-xs-9 col-xs-offset-2 contenulogin" id="opal_bg">
            <div class="test">
                <h1 class="sous-titre">Réinitialisation de mot de passe :</h1>
                {{ form_start(form) }}
                <div class="col-md-6">
                    {{ form_row(form.plainPassword.first, {'label': 'Votre mot de passe :'}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.plainPassword.second, {'label': 'Retapez votre mot de passe :'}) }}
                </div>
                <div class="text-center">
                    <button class="btn" id="btn_form-orange" type="submit">Réinitialiser</button>
                </div><br/>
                {{ form_end(form) }}
            </div>
            </div>
        </div>
    </div>
{% endblock %}