{% extends 'base.html.twig' %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block navi5 %}
<li class="dropdown active">
    {% endblock %}

    {% block body %}
    <div class="container-fluid" id="login_bg">

        {% for type, flash_messages in app.session.flashBag.all %}
            {% for flash_message in flash_messages %}
                <div class="alert-{{ type }} text-center">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="col-md-6 col-md-offset-3 col-xs-9 col-xs-offset-2 contenulogin" id="opal_bg">
            <div class="test">
                <h1 class="sous-titre">Mot de passe oublié :</h1>
                <p class="text-center">Pour obtenir un lien de reinitialisation veuillez entrer votre email et votre pseudo.</p>
                <p class="text-center">Pas encore inscrit ? Cliquez <a
                            href="{{ path('create_account') }}">ici</a>.
                </p>
                <form class="form-login" action="{{ path('email_reset_password') }}" method="post">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label for="username">Login : </label><br/>
                            <input type="text" class="form-control" id="username" name="_username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <label for="email">Email :</label>
                            <input type="email" class="form-control" id="email" name="_email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <br/>
                            <button class="btn btn-form" type="submit" value="Connexion"> Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}