{% extends 'base.html.twig' %}
{% block title %}Article{% endblock %}

{% block navi4 %}
    <li class="active"><a href="{{ path('blog', {'page': 1}) }}">Blog<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block stylesheet_enfant %}
    <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-9 ligne_verticale">
                    <h1>{{ article.title }}</h1>
                    <p class="post-meta">Posté par <a href="#">Nos amis les oiseaux</a>
                        le {{ article.date|date('d-m-Y') }} a {{ article.date|date('H:i:s') }}
                        | {{ article.category.name }}
                    </p>
                    <img src="{{ asset(article.imageUrl) }}" alt="{{ article.title }}" class="imageArticle">
                    <br><br>
                    {% autoescape %}
                        <p>{{ article.text|html }}</p>
                    {% endautoescape %}
                    <hr>
                </div>
                <div class="col-lg-3 collant">
                    {% include("Blog/article_recent.html.twig") %}
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email'; /*
         * Translated default messages for the $ validation plugin.
         * Locale: FR
         */
            $.extend($.validator.messages, {
                required: "Ce champ est requis.",
                remote: "Veuillez remplir ce champ pour continuer.",
                email: "Veuillez entrer une adresse email valide.",
                url: "Veuillez entrer une URL valide.",
                date: "Veuillez entrer une date valide.",
                dateISO: "Veuillez entrer une date valide (ISO).",
                number: "Veuillez entrer un nombre valide.",
                digits: "Veuillez entrer (seulement) une valeur numérique.",
                creditcard: "Veuillez entrer un numéro de carte de crédit valide.",
                equalTo: "Veuillez entrer une nouvelle fois la même valeur.",
                accept: "Veuillez entrer une valeur avec une extension valide.",
                maxlength: $.validator.format("Veuillez ne pas entrer plus de {0} caractères."),
                minlength: $.validator.format("Veuillez entrer au moins {0} caractères."),
                rangelength: $.validator.format("Veuillez entrer entre {0} et {1} caractères."),
                range: $.validator.format("Veuillez entrer une valeur entre {0} et {1}."),
                max: $.validator.format("Veuillez entrer une valeur inférieure ou égale à {0}."),
                min: $.validator.format("Veuillez entrer une valeur supérieure ou égale à {0}.")
            });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
{% endblock %}

{% block JS %}
    <script src="{{ asset('js/blog.js') }}"></script>
{% endblock %}