{% extends 'AdminAccount/adminDashboard.html.twig' %}
{% block title %}Consulter les rapports{% endblock %}

{% block adminContent %}

    <div class="tab-content col-md-10 col-md-offset-1">
        <div class="container-fluid" id="consultation_bg">
            <div class="row">
                <h1 class="text-center" id="rapport_titre">Rapports d'observation</h1>
                <div class="col-sm-8 col-sm-offset-2">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            {{ form_label(form.birdName, 'Nom de l\'espèce :') }}
                            {{ form_widget(form.birdName, {'attr': {'placeholder': 'Saisissez le nom de l\'espèce recherchée (3 caractères minimum)'}}) }}
                            {{ form_errors(form.birdName) }}
                            {{ form_row(form.birdId) }}
                        </div>
                    </div>
                    <br class="col-md-10 col-md-offset-1">
                    <div class="row" id="btn_valid">
                        <div class="text-center">
                            <button class="btn btn_more" type="submit">Envoyer</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block JS %}
    <script src="{{ asset('js/autoCompBirdChoice.js') }}"></script>
{% endblock %}