{% extends 'AdminAccount/adminDashboard.html.twig' %}
{% block title %}Gestion des utilisateurs{% endblock %}

{% block adminContent %}

    <div class="tab-content col-md-10 col-md-offset-1">
        <h1 class="text-center" id="rapport_titre">Gestion des utilisateurs</h1>

        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-12">
                <form class="col-md-6 col-md-offset-3" action="{{ path('admin_user') }}" method="get">
                    <div class="form-group text-center">
                        <label>Pseudo :</label>
                        <input type="text" title="Pseudo :" class="form-control" id="user_search" name="username" required><br/>
                        <button type="submit" class="btn btn_more"><span class="glyphicon glyphicon-search"></span> Rechercher</button>
                    </div>
                </form>
            </div>
            <div class="text-center col-md-6 col-md-offset-3">
                {% if formEditUser %}
                    <h3>Pseudo de l'utilisateur choisi : {{ user.username }}</h3>
                    <h3>Email de l'utilisateur choisi : {{ user.email }}</h3>
                    {{ form_start(formEditUser) }}
                        <div class="form-group text-center">
                            {{ form_row(formEditUser.role) }}
                        </div>
                        <div class="form-group">
                            <div>
                                {% if user.id is not empty and is_granted('ROLE_SUPER_ADMIN') %}
                                    <a type="button" class="btn btn_more-red " title="Supprimer" data-toggle="modal"
                                       data-target="#gestionUtilisateur{{ user.id }}"><span
                                                class="glyphicon glyphicon-remove"></span> Supprimer
                                    </a>
                                    <div class="modal fade" id="gestionUtilisateur{{ user.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Confirmation demandée</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez vous supprimer cet utilisateur ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                        Annuler
                                                    </button>
                                                    <a class="btn btn-danger" href="{{ path('user_remove',{'id': user.id}) }}"> Supprimer</a>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->
                                {% endif %}
                            </div>
                        </div>

                    <a type="button" class="btn btn_more" title="Sauvegarder" data-toggle="modal"
                       data-target="#saveUtilisateur{{ user.id }}"><span
                                class="glyphicon glyphicon-save"></span> Sauvegarder
                    </a>
                    <div class="modal fade" id="saveUtilisateur{{ user.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel2">Confirmation demandée</h4>
                                </div>
                                <div class="modal-body">
                                    Voulez vous sauvegarder les changements ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn_more-orange" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Annuler</button>
                                    <button type="submit" class="btn btn_more"><span class="glyphicon glyphicon-save"></span> Sauvegarder</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->


                    {{ form_end(formEditUser) }}
                {% else %}
                    Aucune donnée.
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}